<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <style>
        .form-group { margin-bottom: 15px; }
        label { display: inline-block; width: 120px; }

    </style>
    <style>
        .error-message {
            color: red;
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid red;
            border-radius: 5px;
            background-color: #ffeeee;
        }
    </style>
</head>


<!-- Блок для вывода ошибок -->
<div th:if="${error != null}" class="error-message">
    <span th:text="${error}"></span>
</div>

<h2>Add New User</h2>

<form th:action="@{/admin/addUser}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username" required/>
    </div>

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name" required/>
    </div>

    <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" th:field="*{surname}" id="surname" required/>
    </div>

    <div class="form-group">
        <label for="department">Department:</label>
        <input type="text" th:field="*{department}" id="department" required/>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" required/>
    </div>

    <div class="form-group">
        <label for="roleId">Role:</label>
        <select id="roleId" name="roleId" required>
            <option value="1">USER</option>
            <option value="2">ADMIN</option>
        </select>
    </div>

    <div class="form-group">
        <button type="submit">Add User</button>
    </div>
</form>

</body>
</html>