<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Registration</title>-->
<!--    <style>-->
<!--        .error-message {-->
<!--            color: red;-->
<!--            margin-bottom: 15px;-->
<!--            padding: 10px;-->
<!--            border: 1px solid red;-->
<!--            border-radius: 5px;-->
<!--            background-color: #ffeeee;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash; Блок для вывода ошибок &ndash;&gt;-->
<!--<div th:if="${error != null}" class="error-message">-->
<!--    <span th:text="${error}"></span>-->
<!--</div>-->

<!--<form th:method="POST" th:action="@{/registration}" th:object="${user}">-->
<!--    &lt;!&ndash; Поле имени пользователя &ndash;&gt;-->
<!--    <label for="username">Введите логин: </label>-->
<!--    <input type="text" th:field="*{username}" id="username" required/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>-->
<!--    <br/>-->

<!--    &lt;!&ndash; Поле имя &ndash;&gt;-->
<!--    <label for="name">Введите Имя: </label>-->
<!--    <input type="text" th:field="*{name}" id="name" required/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>-->
<!--    <br/>-->

<!--    &lt;!&ndash; Поле фамилии &ndash;&gt;-->
<!--    <label for="surname">Введите фамилию: </label>-->
<!--    <input type="text" th:field="*{surname}" id="surname" required/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>-->
<!--    <br/>-->

<!--    &lt;!&ndash; Поле department &ndash;&gt;-->
<!--    <label for="department">Введите ваш отдел: </label>-->
<!--    <input type="text" th:field="*{department}" id="department" required/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></div>-->
<!--    <br/>-->

<!--    &lt;!&ndash; Поле пароля &ndash;&gt;-->
<!--    <label for="password">Введите пароль: </label>-->
<!--    <input type="password" th:field="*{password}" id="password" required/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
<!--    <br/>-->

<!--    <input type="submit" value="Зарегистрироваться" />-->
<!--</form>-->

<!--</body>-->
<!--</html>-->